@font-face {
  font-family: "Gaspar Bold";
  src: url(/res/fonts/Gaspar_Bold.otf) format('opentype');
}

.field_name {
  display: inline-block;
  width: 80px;
  font-family: "Gaspar Bold";
}

#form {
  display: block;
  background-color: #d6d6d6;
  border: 2px solid #000;
  padding-left: 5px;
}

#form select {
  width: 210px;
}

#form input[type=number] {
  width: 210px;
}

.h1 {
  font-size: 50px;
  color: black;
  margin: 0 0 0 0;

  text-decoration: none;
  text-shadow: none;
  -webkit-transition: 500ms linear 0s;
  -moz-transition: 500ms linear 0s;
  -o-transition: 500ms linear 0s;
  transition: 500ms linear 0s;
  outline: 0 none;
}

.h1:hover {
  color: #878787;
  text-shadow: -1px 1px 8px #ffc, 1px -1px 8px skyblue;
}

#result {
  font-family: monospace;
  margin: 5px 5px 0 0;
  padding-left: 10px;
  border: 2px dashed #000;
}

#error:hover {
  text-decoration: underline;
  color: red;
  background-color: yellow;
}

.heading {
  font-size: 30px;
  color: black;

  text-decoration: none;
  text-shadow: none;
  -webkit-transition: 500ms linear 0s;
  -moz-transition: 500ms linear 0s;
  -o-transition: 500ms linear 0s;
  transition: 500ms linear 0s;
  outline: 0 none;
}

.heading:hover {
  color: #878787;
  text-shadow: -1px 1px 8px #ffc, 1px -1px 8px skyblue;
}

.inline {
  display: inline;
}

.middle {
  text-align: center;
  margin: 0 auto 0 auto;
}

#price {
  font-size: 5em;
  margin: 0 0 0 0;
  text-align: center;
}