#page {
  position: relative;
  height: 100%;
  overflow: hidden;
}

@font-face {
  font-family: "Gaspar Bold";
  src: url(/res/fonts/Gaspar_Bold.otf) format('opentype');
}

#dropdown_box {
  width: 100%;
  text-align: center;
}

.field_name {
  display: inline-block;
  width: 80px;
  font-family: "Gaspar Bold";
}

#form {
  display: block;
  background-color: #d6d6d6;
  border: 2px solid #000;
  padding-left: 5px;
}

#form select, input[type=number] {
  width: 210px;
}

#result {
  font-family: monospace;
  margin: 5px 5px 0 0;
  padding-left: 10px;
  border: 2px dashed #000;
}

#error:hover {
  text-decoration: underline;
  color: red;
  background-color: yellow;
}

.inline {
  display: inline;
}

.middle {
  text-align: center;
  margin: 0 auto 0 auto;
}

#result {
  font-size: 7em;
  margin: 0 0 0 0;
  text-align: center;
}