body {
  background-image: url(/mathpw/research/res/images/name_logo.png);
  background-size: 50%;
  background-position: center top;
  background-repeat: no-repeat;
}

#background {
  width: 75%;
  height: 100%;
  margin: -30px auto 0 auto;
  background-color: #6a6a6a;
  opacity: 0.8;
  box-shadow: 5px 5px 5px #888888;
}

#name {
  font-family: "Lato Thin";
  font-size: 50px;
  color: black;
  text-align: center;

  text-decoration: none;
  text-shadow: none;
  -webkit-transition: 500ms linear 0s;
  -moz-transition: 500ms linear 0s;
  -o-transition: 500ms linear 0s;
  transition: 500ms linear 0s;
  outline: 0 none;
}

#name:hover {
  color: skyblue;
  text-shadow: -1px 1px 8px #ffc, 1px -1px 8px #fff;
}

#tasks {
  margin: -50px auto 0 auto; 
  width: 98%;
  text-align: justify;
}

#tasks p {
  font-family: "Vollkorn Italic";
  color: white;
  margin: 0 0 0 0;
}

#tasks p.heading {
  font-size: 30px;
  color: black;

  text-decoration: none;
  text-shadow: none;
  -webkit-transition: 500ms linear 0s;
  -moz-transition: 500ms linear 0s;
  -o-transition: 500ms linear 0s;
  transition: 500ms linear 0s;
  outline: 0 none;
}

#tasks p.heading:hover {
  color: skyblue;
  text-shadow: -1px 1px 8px #ffc, 1px -1px 8px #fff;
}

p#error {
  text-decoration: underline;
  color: red;
  background-color: yellow;
  text-align: center;
}

#tasks table {
  border: 2px solid white;
  border-collapse: collapse;
  border-color: #888888;
  width: 100%;
  margin-bottom: 10px;
  table-layout: fixed;
}

#tasks table tr {
  height: 30px;
  border: 2px solid #877fea;
  font-family: "Vollkorn Italic";
  font-size: 15px;
}

#tasks table tr:nth-child(odd) {
  background-color: #bed9eb;
}

#tasks table tr:nth-child(even) {
  background-color: #c2eaff;
}

#tasks table tr.table_heading {
  background-color: #3e94e6;
}

#tasks table td {
  height: 18px;
  border: inherit;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
}

#tasks table td:nth-child(1) {
  width: 40%;
}

#tasks table td:nth-child(2) {
  width: 40%;
}

#tasks table td:nth-child(3) {
  width: 10%;
}

#tasks table td:nth-child(4) {
  width: 10%;
}

.button_group {
  float: right;
}

button {
  width: 100px;
}

input[type=button] {
  width: 100px;
}

input[type=submit] {
  width: 100px;
}
