html, body {
  height: 100%;
}

.centralise-vertically {
  position: relative;
  top: 50%; 
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.h1 {
  font-size: 3em;
  margin: 0 0 0 0;

  text-decoration: none;
  text-shadow: none;
  -webkit-transition: 250ms linear 0s;
  -moz-transition: 250ms linear 0s;
  -o-transition: 250ms linear 0s;
  transition: 250ms linear 0s;
  outline: 0 none;
}

.h1:hover {
  color: skyblue;
  text-shadow: -1px 1px 8px #ffc, 1px -1px 8px skyblue;
}

.heading {
  font-size: 2em;

  text-decoration: none;
  text-shadow: none;
  -webkit-transition: 250ms linear 0s;
  -moz-transition: 250ms linear 0s;
  -o-transition: 250ms linear 0s;
  transition: 250ms linear 0s;
  outline: 0 none;
}

.heading:hover {
  color: pink;
  text-shadow: -1px 1px 8px #ffc, 1px -1px 8px skyblue;
}

.shade {
  background-color: rgba(0,0,0,0.6);
  height: inherit;
}

.to-left {
  text-align: left;
  margin-left: -8px;
  margin-right: auto;
}

.to-right {
  text-align: right;
  margin-left: auto;
  margin-right: 0px;
}
