@font-face {
  font-family: "Lato Hairline";
  src: url(/mathpw/research/res/fonts/Lato-Hairline.ttf);
}

@font-face {
  font-family: "Lato Thin";
  src: url(/mathpw/research/res/fonts/Lato-Thin.ttf);
}

@font-face {
  font-family: "Lato Light";
  src: url(/mathpw/research/res/fonts/Lato-Light.ttf);
}