#logo {
  height: 30%;
  width: 30%;
}

#nav {
  width :102%;
  background: #e6e6e6;
  position: absolute;
  bottom: 0;
}

#nav td:hover {
  -webkit-transition: background 0.5s ease-in-out;
     -moz-transition: background 0.5s ease-in-out;
       -o-transition: background 0.5s ease-in-out;
      -ms-transition: background 0.5s ease-in-out;
          transition: background 0.5s ease-in-out;
}